img
{
    display: block;
    margin: 15px auto;
}

#zadani {
    display: none;
}

.novisited {
   text-decoration: none;
    color: #666;
}
.novisited:link, .novisited:visited {
    color: #666;
}
.novisited:hover {
    color: #666;
}